.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: $white;

  @media screen and (max-width: 680px) {
    grid-template-columns: 1fr;
  }

  .intro-text {
    margin: 15px;
    padding: 30px 15px;
    border: 1px dashed $color1;

    h2 {
      color: $color1;
      font-family: $font1;
      font-size: 2rem;
      font-weight: 500;
    }
    h3 {
      margin-top: -12px;
      font-family: $font2;
    }
    img {
      margin: 26px;
    }
    img:nth-of-type(2) {
      height: 70px;
      border-radius: 150px;
      margin-bottom: 8px;
    }
    h4 {
      font-family: $font2;
      font-weight: 100;
    }
    h5 {
      color: $grey;
      font-size: 0.7rem;
    }
  }
  .intro-pic {
    background: url("../img/store-01-l.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scale: 0.9;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;

    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      background-image: url("../img/store-01-m.webp");
    }

    @media screen and (min-width: 681px) and (max-width: 768px) {
      background-image: url("../img/store-01-s.webp");
    }

    @media screen and (max-width: 680px) {
      display: none;
    }
  }
}
